
<div class="columns small-12 medium-8 small-centered">
    <form>
      <input type="text" method="post" action="http://east.gluu.org" placeholder="Put an artist here to search for his or her works" ></input>
      <button class="small">Go!</button>
    </form>
</div>
